.app {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    height: calc(100vh - 65px);
    display: flex;
}

.app__container {
    width: 50%;
    padding: 5px;
    border: solid 1px #E8F0F9;
    border-radius:4px;
    display: flex;
    flex-direction: column;
}

.app__options {
    border: solid 2px #E8F0F9;
    display: flex;
    flex-direction: row;
    align-items: center
}

.app__info {
    //border: solid 2px green;
    display: flex;
    flex-direction: column;
    align-items: center
}

.app__info p {
    //border: solid 2px red;
    margin: 0px;
    text-align: justify;
}

.app__controls {
    border: solid 2px #E8F0F9;
    display: flex;
    flex-direction: column;
    align-items: left
}

.app__input {
    border: solid 2px #E8F0F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app__input_num {
    height: 25px;
}

.app__input__slider {
    //border: solid 2px #E8F0F9;
    width: 33.33%;
    display: flex;
    flex-direction: row;
    padding-top:45px;
}

.daq__slider {
    width: 130px;
}

.app__input__dropdown {
    width: 140px;
}

.app__input__dropdown__region {
    width: 100%;
}

.app__input__dropdown__country {
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.app__input__influence{
    height: 100%;
    width: 25%;
}

.app__input__impact{
    height: 100%;
    width: 40%;
}

.app__input__label{
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
}
#region-input-div {
    width: 20%;
}

#header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

region-input-div


#scenario-input {
    width: 15%;
}

#electrification-input {
    width: 25%;
}

#factor-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#country-info-div{
    border: solid 1px #E8F0F9;
}


.country__results__pop__hdr{
    display: flex;
    flex-direction: row;
}

.country__results__pop__line{
    display: flex;
    flex-direction: row;
}

.country__results__cap__hdr{
    display: flex;
    flex-direction: row;
}

.country__results__cap__line{

    display: flex;
    flex-direction: row;
}

.country__results p {
    width: 10%;
    align-content: center;
    border: solid 1px #E8F0F9;
    padding: 10px
}

.app__display__tier {
    align-content: center;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px
}