body {
    background-color: #FFF;
}

#header-div {
    margin-bottom: 1.5rem;
}

#header-content {
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.hdr__h2 {
    font-size: 1.25rem;
    font-weight: 550;
    margin-top: .5rem;
    margin-bottom: 0;
}

#header-content h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: .5rem;
    margin-bottom: 0;
}

#intro-text-div {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: justify;

}

#intro-description-content,
#intro-about-content,
#intro-citation-content {
    padding: .75rem 1.5rem 1.5rem;
}

#flex-tier-div {
    display: none;
}

#intro-disclaimer-wrap {
    background-color: #EFEFEF;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#intro-disclaimer-div {
    text-align: center;
    font-size: .875rem;
    padding-top: 1rem;
    background-color: #EFEFEF;
}

#back-intro-link{
  position: absolute;
  top: 170px;
  right: 5px;
  z-index: 9999999;
  color: orange;
  border-color: orange;
}

#intro-text-div span{
    font-weight: bold;
}

.scenario__info span{
    font-weight: bold;
}

.intro-link-div {
    text-align: center;
}

.intro-link-div a {
    width: 12rem;
}

#footer-div {
    padding-top: 2rem;
    text-align: center;
}

.footer-logo {
    display: inline-block;
    width: 9rem;
    padding-left: 2rem;
}

#right-header-div {
    padding-top: 1.5rem;
}

#flex-right-header-div {
    padding-top: 1.5rem;
}

#maps-div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.select-map {
    padding-top: 3rem;
    border-radius: 5px;
    border: dashed 3px #333333;
    opacity: 0.2;
}


.select-map:hover {
    border-radius: 5px;
    border: solid 3px #333333;
    opacity: 0.8;
    //filter: alpha(opacity=40);
}


.select-map-selected {
    padding-top: 3rem;
    border-radius: 5px;
    border: solid 5px #333333;
}

._dash-undo-redo {
  display: none;
}

.app_style {
    font-family: inherit;
    //padding: 5px;
    //height: calc(100vh - 65px);
    //display: flex;
    //justify-content: space-evenly;
    background: #FFFFFF;
}

.header_style {
    background: #d09c0b;
    color: #FFFFFF;
}

#main-head-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.country_info_style {
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 2px #333333;
    padding: 40px;
}

.input-div {
    margin-top: 1rem;
    margin-bottom: 1rem;


}

.results_style {
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 2px #333333;
    padding: 40px;
}

.results_style h3 {
    text-align: center;
}


#flex-rise-sub-indicators-div{
    margin-top: 40px;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px #333333;
    padding: 40px;
}

.rise_sub__dropdown{
    width: 80%;
    justify-content: center;
//background-color: green;
}

.scenario__info {
    border-radius: 10px;
    padding: 40px 40px 60px 40px;
    //margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    background: #f1e9da;
    //background: #002E4F;
    color: #333333;
}

.instructions {
    border-radius: 10px;
    padding: 29px;
    //margin-left: 20px;
    //margin-right: 20px;
    //margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    background: #f1e9da;
    color: #333333;
}


.app__checkbox {
    padding: 0px 5px 0px;
    //border: solid 2px #E8F0F9;
}

.align__right{
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
}
.align__center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.info__icon{
    height: 2rem;
    width: 2rem;
}

.daq__slider{
    display: none;
    vertical-align: center;
    //border: solid 2px red;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 30px;
//height: 100%;
//    padding-top: 20%;
//    padding-bottom: 20%;


}

.daq__slider__label{
    padding: 10px;
    //padding-right: 20px;
    border-radius: 5px;
    border: solid 1px #333333;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.daq__slider__btn{
    margin-top: 0.5rem;
    padding: 20px;
    //padding-right: 20px;
    border-radius: 5px;
    border: solid 1px #333333;
    text-align: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.daq__slider__value{
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #333333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country__results h4,
.aggregate__results h4,
.compare__results h4{
    text-align: center;
}

.country__info__flag{
    //padding: 0.5rem;
    //border: solid 1px #333333;
    background: #f1e9da;

}

.country__info__desc{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#results-info-div{
    background: #f1e9da;
    border: solid 0px #f1e9da;
}

#results-info-div table{
    width: 100%;
}

#country-key-indicators td{
    font-weight: bold;
}

.display__none {
    display: none;
}