#intro-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.framed {
    border: solid 1px black;
}

.intro__link{
    align-content: center;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px
}
.deep-dives{
    padding-top:10px;
}

.deep-dives p{
    padding-bottom: 0px;
    margin-bottom: 0px;
}